/* Create general style for the page */
body {
    background-color: honeydew;
    margin: auto;
    text-align: center;
    width: 40%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Customize HTML tags */
ul {
    text-align: left;
}

li {
    text-align: left;
}

p {
    font-size: 16px;
    height: 10%;
}

hr {
    margin: 15px;
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-family:'Courier New', Courier, monospace;
}

/* Remove underline from links */
a {
    text-decoration:none
}

/* Set link colors */

a:link {
    color: #999999;
}

a:visited {
    color: #555555;
}
/* Darken on hover, not completely black */
a:hover {
    color: #222222;
}

h3.about_me {
    font-family:fantasy;
}

.intro {
    background-color: lavender;
    padding: 10px;
    text-align: left;
}

.about_me{
    background-color:blanchedalmond;
    padding: 10px;
    text-align: left;
}
